<meta http-equiv="refresh" content="10;url=/Home/Lobby" />

<div class="main-container">
	<div class="page-title">
		<div class="row gutters">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
				<h5 class="title">Thank you for registering!</h5>
			</div>
		</div>
	</div>
	<div class="content-wrapper">
		<div class="row gutters justify-content-center">
			<div class="col-12 text-center">
				<h4>Thank you for confirming your email address.</h4>
				<h5>You will be redirected to the lobby in ten seconds.</h5>
			</div>
		</div>
	</div>
</div>