@using HunterW_FinancialPortal.Models
@model HunterW_FinancialPortal.Models.CredentialsViewModel

<div class="main-container">
	<!-- Page header start -->
	<div class="page-title">
		<div class="row gutters">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
				<h5 class="title">Manage Account Credentials</h5>
			</div>
		</div>
	</div>
	<!-- Page header end -->
	<!-- Content wrapper start -->
	<div class="content-wrapper">
		<!-- Row start -->
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="jumbotron">
					<div class="row">
						<div class="col-md-4 offset-md-2 text-center">
							<h3 class="text-info">Change Email Address</h3>
							<hr />
							@Html.Partial("EmailPartial", Model)
						</div>
						<div class="col-md-4 text-center">
							<h3 class="text-info">Change Password</h3>
							<hr />
							@Html.Partial("PasswordPartial", Model)
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Row end -->
	</div>
	<!-- Content wrapper end -->
</div>
