@model HunterW_FinancialPortal.Models.Invitation

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
			<div class="login-screen">
				<div class="login-box">
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()
						@Html.HiddenFor(m => m.HouseholdId)
						<h5>Send Invitation</h5>
						<div class="form-group">
							@Html.TextBox("recipient", null, new { @class = "form-control", @placeholder = "Email Address of Invitee" })
						</div>
						<div class="form-group">
							@Html.TextBox("messageBody", null, new { @class = "form-control", @placeholder = "Your Message" })
						</div>
						<div class="form-group">
							<input type="submit" value="Send It" class="btn btn-primary" />
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
